.scrollmenu {

  overflow: auto;
  white-space: nowrap;
  width: 100%;
  height: 500;
  overflow-y: auto;
  overflow-x: auto;
  transform-origin: right top;
}

.wrapText {
  white-space: normal;
}

.cardContent {
  height: 70px;
}

.componentBody {
  margin: 20px;
}

.bar {
  /* max-width: 50%; */
  float: left;
  background-color: #2C557E
}

/* .list {
  float: right;

} */
